<div class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
        <a class="site-title">
          <span class="mdl-layout-title">
            {{siteTitle}}!
          </span>
        </a>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="?filter=dogs{{getLanguageFilter langId}}">{{dogsFilter}}</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="?filter=not_dogs{{getLanguageFilter langId}}">{{notDogsFilter}}</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="?filter=maybe_dogs{{getLanguageFilter langId}}">{{incompleteFilter}}</a>
            </nav>
        </div>
    </div>
</div>
<div id="score"></div>
<div id="languageSwitch">
  <button class="mdl-button">
    {{languageFilter}}
  </button>
</div>
<div class="mdl-layout__content">
    <a name="top"></a>
    <div class="mdl-typography--text-center">
        <h1>{{siteTitle}}</h1>
    </div>
    <div id="theDogs"></div>
    <div id="pagination"></div>
    <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer--top-section">
            <p class="mdl-typography--font-light">© 2015 Ryan Lewis</p>
        </div>
    </footer>
</div>
